<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShoeSizer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>409E97691C4F2E000049B320</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>409E977D1C4F2E000049B320</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>409E97881C4F2E000049B320</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
